<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/students/updateScore/{id}(id=${student.id})}"
      action="" method="post">
    번호<input type="text" th:field="${student.id}" readonly><br>
    이름<input type="text" th:field="${student.name}" readonly><br>
    이전학점 <input type="number" th:field="${student.point}" readonly><br>
    번호<input type="text" name="id" th:value="${student.id}" hidden><br>
    반영할 학점 <input type="number" name="sPoint" step="0.1">
    <input type="submit" value="학점수정">
</form>
</body>
</html>